.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.371);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modal-content {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 50px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
}

.modal-content .options {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}