.button-container {
    background-color: #728850;
    width:min-content;
    border-radius: 10px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-size: 24px;
};

.button-container:hover {
    background-color: #535d45;
}