.points-players {
    display: flex;
    flex-direction: column;
}

.players-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}