.page-container {
    background-color: aquamarine;
    min-height: 100vh;
}

.body-container {
    background-color: blueviolet;
    padding-top: 50px;
    justify-items: center;
}

.object {
    background-color: rgb(255, 232, 127);
    width: 50px;
    height: 50px;
}
