.header-container {
    background-color: #d9c9b5;
    margin: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.header-container img {
    position: absolute;
    left: 20px;
    cursor: pointer;
}
  
.header-container h1 {
    text-align: center;
    margin: 0;
    flex-grow: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
}